@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

body {
    overflow-x: hidden;
}

.animation-notify {
    transform: translateX(0%);
    animation: notify 1 1s ease-in-out;
}

.animation-notify-close {
    transform: translateX(100%)!important;
    animation: notify-close 1 1s ease-in-out;
}

@keyframes notify {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes notify-close {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(100%);
    }
}